.logo {
    width: 48px;
    height: auto;
}

.search-input{
    width:500px;
}

.icon{
    color: #ffc107;
}

.icon:hover{
    color: #FF9300;
}

.h-600{
    height:600px;
}

.h-400{
    height:400px;
}

.font-10{
    font-size: 10px;
}

.carousel-item img{
    justify-content: center;
}

footer{
    color: #9B9D8C;
}

.map-container{
    position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.map-container>iframe{
    position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.input-quantity{
    border: 1px solid #CED4DA;
}

.text-ellipsis{
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden; 

}

.card{
    width: 18rem;
}

.card-image{
    height: 250px;
}

.d-none{
    display: none;
}

