.logo {
    width: 48px;
    height: auto;
}

.search{
    width:500px;
}

.icon{
    color: #ffc107;
    margin-left: auto;
}

.h-600{
    height:600px;
}
.font-10{
    font-size: 10px;
}

.carousel-item img{
    justify-content: center;
}



